body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 100px;
}
#userInput{
    display: block;
    margin: auto;
}
p {
    text-align: center;
    color: white;
    font-size: 40px;
}

.count{
    text-align: center;
    color: white;
    font-size: 40px;
}
#btn{
    text-align: center;
}
#btn button{
    height: 80px;
    width: 150px;
}
#result{
    text-align: center;
    font-size: 100px;
    color: white;
}